.container {
  margin: 0 40px;
}

div {
  padding: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

select option[data-default]{
  height: 0;
  background-color: #888;
}
form label{
  display: block;
}
.input-btn{
  display: inline
}