form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3px;
}

form div.input-group{
    padding: 5px 0;
}

form input, select{
    width: 100%;
    padding: 2px;
    border: 0.1em solid #734B5E;

}

form input[type=file]{
    border: 0;

}
